h2{
    color: brown;
    size: 50px;
}

p{
    h2{
        color:brown;
        size: 30px;
        padding: 0;
        margin: 10px;
    }  

    h3{
        size:5px;
    }
    
}


/*body{
    text-align: left;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}*/

.container{
    align-items: center;
    justify-content: center;
}

 .text{
    font-size: 20px;
    padding-right: 20px;
    float: left;
   

 }

img{
    max-width: 25%;
    max-height: 15%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   padding-bottom: 50px;
}