@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;

}

.bigimage{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("law1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.overlay{
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

/* code for motto  */

.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;

}

.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}

.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.container {
  width:90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;

}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;

}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}

.about-content .read-more:hover{
  background-color: #3e8e41;
}



/* code for card */

.content{
  margin-top: 80px;
  background: linear-gradient(45deg, rgb(102, 70, 133), lightgreen);
  padding: 15px 9px;
  padding-bottom: 100px;
}

.content .head{
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}



.content .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 20px;
  padding: 15px;
}

.content .box-container .box{
  box-shadow: 0 5px 10px rgba(0, 0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.content .box-container .box img{
  height: 160px;
}

.content .box-container .box h3{
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.content .box-container .box p{
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.content .box-container .box .btn{
  margin-top: 15px;
  display: inline-block;
  background: #333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.content .box-container .box .btn:hover{
  letter-spacing: 1px;
}

.content .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0, 0, .3);
  transform: scale(1.03);
}

@media (max-width:768px){
  .content{
    padding: 20px;
  }
}

/* code for text */

.text{
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

}

.text img{
  margin-top: 20px;
  border-radius: 25px;
  text-align: center;
}

.text p{
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color:#666 ;
  text-transform: lowercase;
  text-align: justify;

}


/* coded for footer */

.footer-area{
  margin-top: 100px;
  padding: 100px 0;
  background: linear-gradient(to right,  #1e5799 0%,#182a9b 49%,#2989d8 100%,#7db9e8 100%);
  color: #fff;
  position: relative;

}

.main{
  width: 1200px;
  margin: 0 auto;
  height: auto;
  
}

.footer{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  flex-direction: row;
}

.single-footer{
  width: 230px;
}

.single-footer:first-child{
  width: 400px;

}

.single-footer h4{
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-social a{
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social{
  margin-top: 20px;
}


.single-footer ul{
  list-style: none;
}

.single-footer ul li{
  margin-bottom:10px ;
  position: relative;
  padding-left: 20px;
}

.single-footer ul li a{
  color:#fff;
  text-transform: capitalize;
  text-decoration:none;

}

.single-footer ul li a i{
  position: absolute;
  left:0;
  top:5px;
}

.copy{
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
} 

@media only screen and (max-width:600px){
   .main{
    width: 320px;
  }
  .single-footer:first-child, .single-footer{
    width: 100%;
    margin-bottom: 30px;
  }
}


